/*
* post
*/
.post {
  &__panel {
    margin-bottom: 2rem;
    padding: 1.8rem 3rem;
    border-radius: .4rem;
    background-color: $c-white;

    &__mark {
      font-size: $f-title;
      padding-left: .4rem;
      padding-right: .4rem;
      box-shadow: inset 0 -1.6rem 0 0 rgba($c-info, .5);
      text-transform: capitalize;
    }

    h3 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      display: inline-flex;
      border-bottom: .2rem solid $c-secondary;
    }

    h4 {
      font-size: $f-abstract;
    }

    a {
      padding-left: .2rem;
      padding-right: .2rem;
      box-shadow: inset 0 -0.8rem 0 0 $c-note;
    }

    dl {

      em {
        display: block;
      }
    }
  }
  &__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 8rem;
  }
  &__title {
    font-size: $f-title;
  }
  &__tags {
    display: flex;
    margin-top: 2rem;
    margin-left: -.3rem;
    margin-right: -.3rem;
    font-size: $f-footnote;

    .tag {
      @include transition();
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: .3rem;
      margin-right: .3rem;
      padding: .4rem .8rem;
      border-radius: .2rem;
      background-color: $c-info;
      color: $c-white;
      text-transform: capitalize;

      &:hover,
      &:focus {
        background-color: $c-primary;
      }

      .post__section__block:hover &,
      .post__section__block:focus & {
        background-color: $c-primary;
      }
    }
  }
  &__date {
    @include transition();
    display: block;
    font-size: $f-topic;
    font-style: normal;
    color: $c-hint;

    .post__section__block:hover &,
    .post__section__block:focus & {
      color: $c-info;
    }
  }

  @include mq(large) {

    &__date {
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);
    }
  }
}

.post__section {
  & {
    flex: 1 1 100%;

    & ~ & {
      margin-top: 2rem;
    }
  }

  &__block {
    @include transition();
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    border-radius: .4rem;
    background-color: $c-white;

    &:hover,
    &:focus {
      color: $c-primary;
    }
  }

  &__desc {
    @include transition();
    @include ellipsis(2);
    position: relative;
    margin-top: 1rem;
    padding-top: 2rem;
    max-height: 5.5rem;
    font-size: $f-contents;
    letter-spacing: -.08rem;
    color: $c-select;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: percentage(1);
      height: .1rem;
    }

    &:before {
      background-color: $c-veiled;
    }

    &:after {
      @include transition($prop: transform, $time: $ease-dur*2);
      top: 0;
      z-index: $z-default;
      border-radius: .4rem;
      background-color: $c-info;
      transform: scaleX(0);
      transform-origin: center 100%;
    }

    .post__section__block:hover &,
    .post__section__block:focus & {
      color: $c-info;

      &:after {
        transform: scaleX(1);
        transform-origin: center 0;
      }
    }
  }

  @include mq(large) {
    &__block {
      padding-left: 12rem;
    }
  }
}

.post__article {
  overflow: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
  background-color: $c-white;
  border-radius: .6rem;

  &__header {
    @include backdrop(0);
    margin-left: -3rem;
    margin-right: -3rem;
    padding: 3rem 3rem;
    color: $c-white;
  }
  
  &__date {
    display: inline-block;
    vertical-align: top;
    margin-top: .4rem;
    font-style: normal;
  }

  &__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }

    p {
      margin: 1rem 0;
    }

    li {
      position: relative;
      margin-top: .5rem;
      margin-bottom: .5rem;
      padding-left: 2rem;

      &:before {
        content: '';
        position: absolute;
        top: .8rem;
        left: 0;
        width: .4rem;
        height: .4rem;
        border-radius: 50%;
        background-color: rgba($c-body, .8);
      }
    }

    a {
      padding-left: .4rem;
      padding-right: .4rem;
      box-shadow: inset 0 -.8rem 0 0 $c-note;
    }

    .gatsby-resp-image-wrapper {
      overflow: hidden;
      margin-top: 3rem;
      margin-bottom: 3rem;
      border-radius: .4rem;

      &:before {
        content: '';
        @include full-layer();
        z-index: $z-floor;
      }
    }
  }

  &__addon {
    @include transition();
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin-top: 1.2rem;
    padding: .8rem 1.6rem;
    font-size: $f-abstract;
    font-family: cursive;
    letter-spacing: .08rem;
    text-decoration: none;
    border-radius: .4rem;
    background-color: $c-info;
    color: $c-white;

    &__txt {
      margin-left: .8rem;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 0.85;
    }
  }
}