/*
* header
*/
.header {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  &__title {
    font-size: font(title);
    letter-spacing: .08rem;
  }

  &__desc {
    @include transition();
    margin-left: .5rem;
    font-size: font(contents);

    .header__link:hover &,
    .header__link:focus & {
      color: color(info);
    }
  }

  &__link {
    @include transition();
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: color(primary);
    }
  }

  &__utils {
    @include backdrop(0);
    @include transition();
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    padding: 1.2rem 2.6rem;
    font-size: font(abstract);
    border-radius: .4rem;
    color: color(white);
  }

  &__author {
    position: relative;
    z-index: z(floor);
    display: flex;
    align-items: center;
    font-family: cursive;

    .octicon {
      display: inline-flex;

      path {
        @include transition();
        fill: color(info);

        .header__author:focus &,
        .header__author:hover & {
          fill: color(primary);
        }
      }
    }

    .github {
      display: none;
      @include transition($time: $dur*2, $func: cubic-bezier(0.680, -0.550, 0.265, 1.550));
      position: absolute;
      top: 100%;
      left: 50%;
      padding: .4rem .6rem;
      font-size: font(footnote);
      border-radius: .4rem;
      background-color: color(primary);
      color: color(white);
      transform: translate3d(-50%, 0, 0) rotate(-90deg);
      transform-origin: center -2.1rem;
      opacity: 0;
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 .4rem .6rem .4rem;
        border-color: transparent transparent color(primary) transparent;
        transform: translate(-50%, -100%);
      }
    }

    &:focus,
    &:hover {
      .octicon {
        path {
          fill: color(primary);
        }
      }
      .github {
        transform: translate3d(-50%, 0, 0) rotate(0deg);
        opacity: 1;
      }
    }
  }


  @include mq(large) {
    &__author {

      .github {
        display: block;
      }
    }
  }
}