/*
* header
*/
.header {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  &__title {
    font-size: $f-title;
    letter-spacing: .08rem;
  }

  &__desc {
    @include transition();
    margin-left: .5rem;
    font-size: $f-contents;

    .header__link:hover &,
    .header__link:focus & {
      color: $c-info;
    }
  }

  &__link {
    @include transition();
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $c-primary;
    }
  }

  &__block {
    @include backdrop(0);
    @include transition();
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    padding: 1.2rem 2.6rem;
    font-size: $f-abstract;
    border-radius: .4rem;

    &__link {
      position: relative;
      margin-right: .8rem;
      padding-right: 1rem;
      color: $c-white;

      &:last-child:after {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: .1rem;
        height: 1.2rem;
        background-color: $c-white;
        transform: translateY(-50%);
      }
    }
  }

  &__author {
    position: relative;
    z-index: $z-floor;
    display: flex;
    align-items: center;

    .octicon {
      display: inline-flex;

      path {
        @include transition();
        fill: $c-info;

        .header__author:focus &,
        .header__author:hover & {
          fill: $c-primary;
        }
      }
    }

    .github {
      display: none;
      @include transition($time: $ease-dur*2, $func: cubic-bezier(0.680, -0.550, 0.265, 1.550));
      position: absolute;
      top: 100%;
      left: 50%;
      padding: .4rem .6rem;
      font-size: $f-footnote;
      border-radius: .4rem;
      background-color: $c-primary;
      color: $c-white;
      transform: translate3d(-50%, 0, 0) rotate(-90deg);
      transform-origin: center -2.1rem;
      opacity: 0;
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 .4rem .6rem .4rem;
        border-color: transparent transparent $c-primary transparent;
        transform: translate(-50%, -100%);
      }
    }

    &:focus,
    &:hover {
      .octicon {
        path {
          fill: $c-primary;
        }
      }
      .github {
        transform: translate3d(-50%, 0, 0) rotate(0deg);
        opacity: 1;
      }
    }
  }


  @include mq(large) {
    &__author {

      .github {
        display: block;
      }
    }
  }
}