/*
* fonts config
*/

/*
* fonts config
*/
$font-scheme: (
  headline: 3.2rem,
  notice: 2.8rem,
  title: 2.4rem,
  topic: 2rem,
  abstract: 1.6rem,
  contents: 1.4rem,
  footnote: 1.2rem,
  root: 1rem,
);

@font-face {
  font-family: 'BinggraeMelona';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff')
  format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
